src/serviceWorker.ts
src/react-app-env.d.ts
src/setupTest.ts
src/**/__tests__/**
src/App.tsx
src/index.tsx

node_modules
dist
jest.config.js
fixtures
shared-fixtures
coverage
__snapshots__

build/
coverage/
docs/**
tmp/**
public/

*-test.js,
*.spec.js,
*-test.jsx,
*.spec.jsx,
*-test.ts,
*.spec.ts,
*-test.tsx,
*.spec.tsx
